<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/book.css">
    <% if (locals.book) { %>
        <title><%=book.name%></title>
    <% } %>
    <title>Book</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">    
</head>
<body>
    <a href="/">
        <svg class="back-button" fill="#000000" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M222.927 580.115l301.354 328.512c24.354 28.708 20.825 71.724-7.883 96.078s-71.724 20.825-96.078-7.883L19.576 559.963a67.846 67.846 0 01-13.784-20.022 68.03 68.03 0 01-5.977-29.488l.001-.063a68.343 68.343 0 017.265-29.134 68.28 68.28 0 011.384-2.6 67.59 67.59 0 0110.102-13.687L429.966 21.113c25.592-27.611 68.721-29.247 96.331-3.656s29.247 68.721 3.656 96.331L224.088 443.784h730.46c37.647 0 68.166 30.519 68.166 68.166s-30.519 68.166-68.166 68.166H222.927z"></path></g></svg>
    </a>

    <div class="main-container">
        <!-- Shows the book cover image, name and author -->
        <div class="book-bar">
            <img src="<%= book.temp_cover_url %>" alt="book cover" class="book-cover">
            <div class="book-details">
                <h1 class="book-name"><%=book.name%></h1>
                <h2 class="book-author"><%=book.author%></h2>
            </div>
            
            <form action="/api/delete-book" method="post" class="delete-book-form">
                <button type="submit" class="delete-book">DELETE</button>
            </form>
        </div>

        <!-- Displays notes the user made about the book -->
        <div class="grid-container">
            <form action="/api/add-note" method="post">
                <input type="hidden" name="book_id" value="<%=book.id%>">
                <input type="hidden" name="book_cover_name" value="<%=book.cover_image%>">
                <button type="submit" class="add-note">
                    <svg class="plus-icon" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>plus</title> <desc>Created with Sketch Beta.</desc> <defs> </defs> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage"> <g id="Icon-Set-Filled" sketch:type="MSLayerGroup" transform="translate(-362.000000, -1037.000000)" fill="#000000"> <path d="M390,1049 L382,1049 L382,1041 C382,1038.79 380.209,1037 378,1037 C375.791,1037 374,1038.79 374,1041 L374,1049 L366,1049 C363.791,1049 362,1050.79 362,1053 C362,1055.21 363.791,1057 366,1057 L374,1057 L374,1065 C374,1067.21 375.791,1069 378,1069 C380.209,1069 382,1067.21 382,1065 L382,1057 L390,1057 C392.209,1057 394,1055.21 394,1053 C394,1050.79 392.209,1049 390,1049" id="plus" sketch:type="MSShapeGroup"> </path> </g> </g> </g></svg>
                </button>
            </form>

            <% if (locals.notes) { %>
                <% for (const note of notes) { %>
                    <div class="note" data-note-id="<%= note.id %>">
                        <!-- Note Content -->
                        <p class="note-content" contenteditable="false">
                            <%= note.content.trim().length === 0 ? 'Click to edit' : note.content %>
                        </p>

                        <!-- Edit Note -->
                        <form action="/api/update-note" method="post" class="update-note-form" style="display: none;">
                            <input type="hidden" name="note_id" value="<%=note.id%>">
                            <input type="hidden" name="note_content" class="note-content-hidden">
                            <input type="hidden" name="book_cover_name" value="<%=book.cover_image%>">
                        </form>
                        
                        <!-- Delete Note -->
                        <form action="/api/delete-note" method="post" class="delete-note-form">
                            <input type="hidden" name="note_id" value="<%=note.id%>">
                            <input type="hidden" name="book_cover_name" value="<%=book.cover_image%>">
                            <button type="submit" class="delete-note-button">
                                <svg class="trash-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M18 6L17.1991 18.0129C17.129 19.065 17.0939 19.5911 16.8667 19.99C16.6666 20.3412 16.3648 20.6235 16.0011 20.7998C15.588 21 15.0607 21 14.0062 21H9.99377C8.93927 21 8.41202 21 7.99889 20.7998C7.63517 20.6235 7.33339 20.3412 7.13332 19.99C6.90607 19.5911 6.871 19.065 6.80086 18.0129L6 6M4 6H20M16 6L15.7294 5.18807C15.4671 4.40125 15.3359 4.00784 15.0927 3.71698C14.8779 3.46013 14.6021 3.26132 14.2905 3.13878C13.9376 3 13.523 3 12.6936 3H11.3064C10.477 3 10.0624 3 9.70951 3.13878C9.39792 3.26132 9.12208 3.46013 8.90729 3.71698C8.66405 4.00784 8.53292 4.40125 8.27064 5.18807L8 6" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                            </button>
                        </form>
                    </div>
                <% } %>
            <% } %>
        </div>
    </div>
    
<script src="/scripts/book.js"></script>
</body>
</html>