<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Book Notes</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">    
</head>
<body>
    <div class="main-container">
        <!-- Navbar -->
        <div class="navbar">

            <a href="/">
                <img src="assets/book_icon.png" alt="logo" class="logo">
            </a>

            <!-- Renders all categories -->
            <form action="/category" method="post" class="form-categories">

                <button type="submit" class="category" name="id" value="0">All</button>

                <% if (locals.categories) { %>
                    <% for (const category of categories) { %>
                        <button type="submit" class="category" name="id" value="<%=category.id%>"><%=category.name%></button>
                    <% } %>
                <% } %>

            </form>

            <div class="profile-container">
                <!-- Renders the current user profile -->
                <% if (locals.current_user) { %>
                    <button class="profile-picture" onclick="toggleDropdown()"><%=current_user.name[0]%></button>
                <% } %>
                
                <div class="dropdown-menu">
                    <form action="/user" method="post">
                        <!-- Renders all the users in the database -->
                        <% if (locals.users) { %>
                            <% for (const user of users) { %>
                                <button type="submit" name="user" value="<%=user.id%>"><%=user.name%></button>
                            <% } %>
                        <% } %>
                    </form>

                    <!-- Add user button -->
                    <button id="open-add-user">Add User</button>
                    
                    <% if (users.length > 1) { %>
                        <form action="/api/delete-user" method="post">
                        <button class="delete-user" type="submit" name="user" value="<%=current_user.id%>">Delete User: <%= current_user.name %></button>
                        </form>
                    <% } %>
                </div>
            </div>

            <!-- Add user popup -->
            <div class="popup" id="popup">
                <form action="/api/add-user" method="post" class="popup-form">
                    <svg class="close-popup-svg" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M7 17L16.8995 7.10051" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"></path><path d="M7 7.00001L16.8995 16.8995" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"></path></g></svg>
                    <input type="text" placeholder="Username" class="add-user-input" name="username" required>
                    <button type="submit" class="add-user-submit-button">Add</button>
                </form>
            </div>

        </div>

        <!-- Books -->
        <div class="grid-container">
            <form action="/add-book" method="get">
                <button type="submit" class="add-book">
                    <svg class="plus-icon" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <title>plus</title> <desc>Created with Sketch Beta.</desc> <defs> </defs> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage"> <g id="Icon-Set-Filled" sketch:type="MSLayerGroup" transform="translate(-362.000000, -1037.000000)" fill="#000000"> <path d="M390,1049 L382,1049 L382,1041 C382,1038.79 380.209,1037 378,1037 C375.791,1037 374,1038.79 374,1041 L374,1049 L366,1049 C363.791,1049 362,1050.79 362,1053 C362,1055.21 363.791,1057 366,1057 L374,1057 L374,1065 C374,1067.21 375.791,1069 378,1069 C380.209,1069 382,1067.21 382,1065 L382,1057 L390,1057 C392.209,1057 394,1055.21 394,1053 C394,1050.79 392.209,1049 390,1049" id="plus" sketch:type="MSShapeGroup"> </path> </g> </g> </g></svg>
                </button>
            </form>

            <!-- Render user books -->
            <% if (locals.books) { %>
                <% for (const book of books) { %>

                    <!-- Uses the book cover image as id for it is a random 32 bytes string -->
                    <form action="/book/<%=book.cover_image%>" method="get">
                        <button type="submit" class="book">
                            <img src="<%=book.temp_cover_url%>" alt="book cover" class="book-cover">
                        </button>
                        <h3 class="book-name"><%=book.name%></h3>
                        <h5 class="author-name"><%=book.author%></h5>
                    </form>

                <% } %>
            <% } %>

        </div>
    </div>
    <script src="/scripts/main.js"></script>
</body>
</html>